@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import "header.css";
@import "footer.css";
@import "mainObject/toAboutUs.css";
@import "mainObject/toCatalog.css";
@import "buttons.css";
@import "content.css";
@import "mainObject/slider.css";
@import "mainObject/cover.css";
@import "mainObject/toRecommendation.css";

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

p{
    font-size: 20px;
    color: black;
}

.whiteText{
    color: white;
    font-weight: 400;
}

.logoText{
    color: #78AB2B;
    text-transform: uppercase;
}

a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover{
    transition: 0.5s;
    color: #E7E7E7;
}

h1{
    font-size: 40px;
    color: black;
    font-weight: 500;
}

h2{
    font-size: 32px;
    color: black;
    font-weight: 500;
}

.logotype{
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 0.5s;
}

.logotype:hover{
    transform: scale(1.1);
    transition: 0.5s;
    margin: 0 10px;
}

.logotype img{
    width: 30px;
}

@media (max-width: 1200px) {
    p{
        font-size: 15px;
    }

    h1{
        font-size: 32px;
    }

    h2{
        font-size: 20px;
    }

    .logotype img{
        width: 20px;
    }
}

@media (max-width: 960px) {
    p{
        font-size: 13px;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    p{
        font-size: 12px;
    }

    h1{
        font-size: 20px;
    }

    h2{
        font-size: 16px;
    }
}